env/
*.DS_Store
__pycache__
*.tfvars
.terraform
.terraform.lock.hcl
_old/ingestor/.env
*.parquet
*.ducklake
*.wal
.tmp_dagster*
/.idea/workspace.xml

# ckan_orchestrator frontend
ckan_orchestrator/frontend/node_modules/
ckan_orchestrator/frontend/dist/
