# MySQL
INGEST_ORCH_MYSQL_HOST=mysql
INGEST_ORCH_MYSQL_PORT=3306
INGEST_ORCH_MYSQL_USER=root
INGEST_ORCH_MYSQL_PASSWORD=ckan_orch_pass
INGEST_ORCH_MYSQL_DATABASE=ckan_orchestrator

# NATS
INGEST_ORCH_NATS_URL=nats://nats:4222
INGEST_ORCH_NATS_STREAM=CKAN_INGEST
INGEST_ORCH_NATS_SUBJECT=ckan.ingest.resource

# CKAN
CKAN_URL=https://dados.pbh.gov.br

# DuckLake
DUCKLAKE_DATABASE=:memory:
DUCKLAKE_CATALOG_URI=postgres:dbname=ducklake_catalog host=postgres user=postgres password=postgres

# S3 / RustFS
S3_ENDPOINT=rustfs:9000
S3_ACCESS_KEY_ID=admin
S3_SECRET_ACCESS_KEY=password
S3_BUCKET=warehouse
S3_USE_SSL=false
S3_URL_STYLE=path

# Scheduler
INGEST_ORCH_SCHEDULER_INTERVAL_MINUTES=480
